@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700;800;900&display=swap');

html {
    font-family: 'Gabarito', sans-serif;
    width: 50%;
    margin: 0 auto;

    --d: 4px;

    background: radial-gradient(circle at var(--d) var(--d),
  
        #ffd82a calc(var(--d) - 1px),
        #a01b1b00 var(--d)) 0 0 / 50px 50px;
}


/* .custom-appbar {
    background-color: #a01b1b !important;
} */

h1{
    margin: 0;
    padding: 0.5em;
}

.custom-body{
    width: 100%;
    margin: 0 auto;;
    border-radius: 2em 2em 2em 2em;
    background-color: white;
}

.custom-container {
    height: 88dvh;
    padding: 0.5em;
}

.custom-textfield{
    width: 400px;
}

.profile-banner{
    display: flex;
    background-color: pink;
    height: 22dvh;
    width: 90%;
    margin: 0 auto;
    padding: 1em;
    align-items: center;
    border-radius: 2em;
}

.profile-banner h1 {
    margin: 0;
    padding: 0;
}

.profile-image {
    display: flex;
    padding-left: 4em;
}

.profile-image img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.profile-text {
    display: flex;
    flex-direction: column;
    padding-left: 2em;
    font-size: x-large;
}


/* Mobile Phone */
@media only screen and (max-width: 700px) {
    html {
        width: 100%;
    }

    .custom-textfield{
        width: 300px;
    }

    .custom-container {
        height: 100%;
        padding: 0.5em;
    }

    .profile-banner{
        height: 18dvh;
        padding: 1em;
    }
    
    .profile-banner h1 {
        margin: 0;
        padding: 0;
    }
    
    .profile-image {
        display: flex;
        padding-left: 0.1em;
    }

    .profile-image img {
        height: 130px;
        width: 130px;
        border-radius: 50%;
    }
    
    .custom-skeleton {
        height: 10px;
        width: 10px;
    }
    .profile-text {
        display: flex;
        flex-direction: column;
        font-size: small
    }
}


@media only screen and (max-width: 1024px) {
    html {
        width: 100%;
    }
}