@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700;800;900&display=swap');

html {
    font-family: 'Gabarito', sans-serif;
    width: 50%;
    margin: 0 auto;

    --d: 4px;

    background: radial-gradient(circle at var(--d) var(--d),
  
        #ffd82a calc(var(--d) - 1px),
        #a01b1b00 var(--d)) 0 0 / 50px 50px;
}


/* .custom-appbar {
    background-color: #a01b1b !important;
} */

h1{
    margin: 0;
    padding: 0.5em;
}
.custom-body{
    width: 100%;
    margin: 0 auto;;
    border-radius: 0em 0em 2em 2em;
    background-color: pink;
}

.custom-container {
    height: 88dvh;
    padding: 0.5em;
}

.custom-textfield{
    width: 400px;
}

@media only screen and (max-width: 900px) {
    html {
        width: 100%;
    }

    .custom-textfield{
        width: 300px;
    }
}
