.body-login {
    height: 98dvh;
    width: 98%;
    margin: 0 auto;
}

.body-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

@media only screen and (max-width: 900px) {
    html {
        width: 100%;
    }
}
